{% extends "match_oligo/main.html" %}
{% block content %}
{% load crispy_forms_tags %}

    <h4>Sequence Manipulations</h4>


    <form method="post">
    {% csrf_token %}
    {{ form1|crispy }}
    <input type="checkbox" value="Reverse Complement" name="Reverse Complement">
    <large>Reverse Complement</large>
    <input type="checkbox" value="Upper Case" name="Upper Case">
    <large>Upper Case</large>
    <input type="checkbox" value="Lower Case" name="Lower Case">
    <large>Lower Case</large>
    <input type="checkbox" class="btn" value="Remove Spaces" name="Remove Spaces">
    <large>Remove Spaces</large>
    <br>
    <br>
    <input type="submit" class="btn" value="Submit" name="Submit">
    <br>
    <br>
        {{ output|safe }}


    <h4>Looking for a sequence within the one above?</h4>


    {{ form2|crispy }}

    {{ form3 }}




    <br>
    <input type="submit" class="btn" value="Submit" name="Submit">

    <br>
    <br>
        <p id="demo"></p>
        <script>
            var match_results = output2
            document.getElementbyID("demo").innerHTML = match_results;
        </script>


        {{ output2|safe  }}
    <br>
    <br>
    </form>


    <br>

{% endblock %}