{% extends "match_oligo/main.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <h4>Simple Sequence Conversions.<small>Reverse complement removes spaces, ignore special characters and converts to caps.</small></h4>

    <form method="post">
    {% csrf_token %}
    {{ form1|crispy }}
    <input type="checkbox" value="Reverse Complement" name="Reverse Complement">
    <small>reverse complement</small>
    <input type="checkbox" value="Upper Case" name="Upper Case">
    <small>upper case</small>
    <input type="checkbox" value="Lower Case" name="Lower Case">
    <small>lower case</small>
    <input type="checkbox" class="btn" value="Remove Spaces" name="Remove Spaces">
    <small>remove spaces</small>
    <input type="submit" class="btn" value="Submit" name="Submit">
    
    {% for c in output %}
        <p> {{c}}<p>
    {% empty %}
    <p> <p>

    {% endfor %}

    </form>
    <br>
    <h4>Curious if there is a particular pattern within the above sequence. Input it here.</h4>

    {{ form2|crispy }}

    <br>
    <h4>Don't know the pattern? How long is the pattern?</h4>
{% endblock %}