{% extends "match_oligo/main.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <h4>Sequence Manipulations</h4>

    <form method="post">
    {% csrf_token %}
    {{ form1|crispy }}
    <input type="checkbox" value="Reverse Complement" name="Reverse Complement">
    <large>Reverse Complement</large>
    <input type="checkbox" value="Upper Case" name="Upper Case">
    <large>Upper Case</large>
    <input type="checkbox" value="Lower Case" name="Lower Case">
    <large>Lower Case</large>
    <input type="checkbox" class="btn" value="Remove Spaces" name="Remove Spaces">
    <large>Remove Spaces</large>
    <br>
    <br>
    <input type="submit" class="btn" value="Submit" name="Submit">

    {% for c in output %}
        <p> {{c}}<p>
    {% empty %}
    <p> <p>

    {% endfor %}

    </form>
    <br>
    <h4>Looking for a particular pattern in the sequence above?</h4>

    {{ form2|crispy }}

    {{ output2|safe  }}




    <br>
    <h4>Don't know the pattern but want to know if there are repetitive elements?</h4>
{% endblock %}