{% extends "match_oligo/main.html" %}
{% block content %}
<div class="col-sm-12">
    <div class="container-fluid">

        <h4>Matching Oligo(s):</h4>
            {% for c in var %}
                <p> {{c}} <p>

            {% empty %}
                <p> Sorry, no matches found. <p>

            {% endfor %}
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
</div>

        <div class="col-sm-6">
        <ul class="list-unstyled">
            <div class='container-fluid'>

            <h4>File(s) submitted:</h4>
                {% for info in search_param %}

                <li> {{info}} </li>

                {% endfor %}

            </div>
        </ul>
        </div>

        <div class="col-sm-6">
            <div class='container-fluid'>

                <h4>Reference:</h4>
                    {% for data in ref_info %}
                    <p> {{ data }}</p>
                    {% endfor %}
            </div>
        </div>


	
{% endblock %}