{% extends "match_oligo/main.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <h4>Oligo Search <small> This program searches for exact matches of oligo sequences within a larger "reference" sequence. Spaces and caps are ignored, reverse compliment is also searched. The user can upload multple oligo files (xls/xlsx only).</small></h4>
    <form class="uniForm" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form1|crispy}}
    	{{ form2|crispy }}
      <h4>OR... <small> Input the chromsome number, start and stop location of the area of the hg19 genome. </small></h4>
        <div class = "form-inline">
        {{ form3|crispy }}
        </div>
        <br>
        <button type="submit" class="save btn btn-default">Submit</button>

    </form>


{% endblock %}
